# Node modules and logs
node_modules/
npm-debug.log
*.log
logs/

# Environment variables
.env
.env.*

# Uploads / temp
uploads/
tmp/

# IDE/editor
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Git
.git
.gitignore

# Tests & docs
tests
coverage
README.md

# Docker
Dockerfile
